<div class="container">
  <div class="media">
    <div class="media-body">
      <h2 class="media-heading">
        <%= @user.name %>
      </h2>
      <h4>
        <%= @user.email %>
      </h4>
    </div>
  </div>
</div>
