<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Welcome to Blocipedia</h1>
            <hr>
            <p>Blocipedia allows users to create public and private Markdown-based wikis.</p>
        </div>
    </div>
</header>
